<form [formGroup]="this.formGroup" (ngSubmit)="submit()">
  <div class='card'>
    <div class='card-header' *ngIf="(this.result$ | async) as response; else loading">
      {{this.pageTitle + ': ' + response.body?.name}}
      <button class="btn btn-primary" type="submit" [disabled]="!this.formGroup.valid">Speichern</button>
    </div>
    <div class="container">
      <div class="card-body">
          <!-- Form Group (username)-->
          <div class="mb-3">
            <label class="small mb-1" for="id">Id</label>
            <app-input
              id="id"
              formControlName="id"
              [isDisabled]="true"
            ></app-input>
          </div>
          <!-- Form Row-->
          <div class="mb-3">
            <!-- Form Group (name)-->
              <label class="small mb-1" for="name">Name</label>
              <app-input
                id="name"
                formControlName="name"
                [placeholder]="'Namen eingeben'"
              ></app-input>
          </div>
      </div>
    </div>
  </div>
</form>
<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
